---
layout: default
---



<div class="home">
	
<h1>PMSI et autres, avec R</h1>

<article class="post-content">

	<center><img alt = "Rigologo" src = "/assets/files/rigologo_pmeasyr.png" width = '300px'><img></center>

    <p>Ce site rassemble des informations autour du package R <em>pmeasyr</em>.</p>

<ul>
  <li>Le package est hébergé sur le <a href="https://github.com/IM-APHP/pmeasyr">Github de l’Information Médicale AP-HP</a></li>
  <li>Un <a href="/pmeasyr">livret numérique</a> présente le package et son utilisation</li>
  <li>Ce livret est aussi disponible au <a href="/pmeasyr/pmeasyr-book.pdf">format pdf</a></li>
  <li>Le <a href="/assets/files/pmeasyr.pdf">manuel pdf</a> avec l'aide pour toutes les fonctions du package</li>
  <li>Une carte mentale présente les travaux connexes à pmeasyr : <a class="iframe" href="/assets/files/mind_map.pdf">Mind map</a></li>
</ul>

<p>La partie <a href='/blog/'>blog</a> informe des nouveautés du package et rassemble des astuces inhérentes au traitement des données PMSI.</p>




</article>



</div>


